* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background: linear-gradient(
    rgb(10, 78, 105),
    rgb(129, 14, 139),
    rgb(10, 78, 105)
  );
  color: #101010dc;
}

.nav-text {
  color: #fff;
}
.home {
  position: relative;
  width: 100%;
  justify-content: space-between;
  height: 100vh;
  background: url("./89781.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 70px 10% 0;
}
.home-content {
  max-width: 600px;
}
.home-content h3 {
  font-size: 32px;
  font-weight: 700;
  animation: slideBottom 1s ease forwards;
  animation-delay: 0.7s;
}
.home-content h3:nth-of-type(2) {
  margin-bottom: 30px;
  animation: slideTop 1s ease forwards;
  animation-delay: 0.7s;
}
.home-content h3 span {
  color: #0ef;
}
.home-content h1 {
  color: black;
  font-size: 56px;
  font-weight: 700;
  margin: -3px 0;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 1s;
}

.home-content p {
  font-size: 20px;
  margin-bottom: 5%;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1s;
}
@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes slideLeft {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes slideTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes slideBottom {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.header-text {
  font-size: 30px;
}
.header-text h1 {
  font-size: 60px;
}
.header-text h1 span {
  color: #ff004f;
}
#about {
  padding: 80px 0;
  color: #ababab;
}
.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about-col-1 {
  flex-basis: 35%;
}
.about-col-1 img {
  width: 50%;
  border-radius: 15px;
}
.about-col-2 {
  flex-basis: 60%;
}
.sub-title {
  font-size: 60px;
  font-weight: 600;
  color: #fff;
}
.about-col-2 p {
  font-size: 20px;
  text-align: left;
  margin-top: 100px;
}

#skills {
  padding: 30px 0;
  width: 100%;
  height: 100vh;
}
.skills-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 150px;
}
.skills-list div {
  background: #262626;
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 10px;
  transition: background 0.5s, transform 0.5s;
}
.skills-list div i {
  font-size: 50px;
  margin-bottom: 30px;
}
.skill {
  color: white;
}
.skill ul li {
  font-size: large;
  margin-left: 50px;
}
.skills-list div h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}
.skills-list div a {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
}
.skills-list div:hover {
  background: #ff004f;
  transform: translate(-10px);
}
#portfolio {
  padding: 50px, 0;
}
.work-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 150px;
}

.work-list .work {
  background: #262626;
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 10px;
  transition: background 0.5s, transform 0.5s;
}

.work-list div:hover {
  background: #0ef;
  transform: translate(-10px);
}

.work img {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}

.layer h3 {
  font-weight: 500;
  margin-bottom: 20px;
}
.layer a {
  margin-top: 20px;
  color: #0ef;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  background: #5dc5e7;
  width: 60px;
  height: 60px;
  text-align: center;
}
.work:hover {
  height: 100%;
}
.btn {
  display: block;
  margin: 50px auto;
  margin-top: 5%;
  width: fit-content;
  border: 1px solid #ff004f;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: #fff;
  transition: background 0.5s;
}
.btn:hover {
  background: #0ef;
}
#contact {
  margin-top: 10%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #262626;
}

#contact input {
  border-radius: 5%;
  padding: 15px;
}
#contact span {
  display: block;
  margin: 20px;
}

#contact button {
  margin-top: 5%;
  border-radius: 10%;
  padding: 10px;
}
@media only screen and (max-with: 600px) {
}
